[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-mail = "*"
nanoid = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.8"
